[submodule "agent-teams-lite"]
	path = agent-teams-lite
	url = https://github.com/Gentleman-Programming/agent-teams-lite.git
[submodule "opencode"]
	path = opencode
	url = https://github.com/ErikING-Chile/opencode.git
